<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Add your CSS stylesheets, if any -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>About Us</h1>
    <div class="company-info">
        <h2>Mon Armoire</h2>
        <p><strong>Description:</strong>MON ARMOIRE is a contemporary lifestyle brand born from Fertuna Tadesse's daydreams. The brand's mission is focused on weaving sustainability seamlessly into a unique design and manufacturing process focused on thoughtfully merging the worlds of artisans and algorithms with the goal to reduce waste.

            By marrying the ancient techniques of artisan communities in Ethiopia and various parts of the world with the latest technological advancements in creative mathematics and AI, Fertuna has created an ethereal realm where tradition meets innovation.</p>
            <p> Our collections are designed for the traveling soul who yearns for enchantment and magic. Our garments are an ode to the wanderlust spirit. Each piece is a work of art, with iconic prints that inspire awe, bold hues that capture the heart, and size-inclusive silhouettes ranging from XS-3X. In our world, sustainability is a journey, a quest that we embark on progressively with each new collection. We celebrate this ethos, as we collaborate with our community to craft a future of conscious fashion. Our work is rooted in the limitless potential of creating versatile designs born from crowdsourcing with you and producing each piece on demand to reduce textile wastage. Our dream is to contribute to the fashion industry by sustaining a culture of inclusivity and responsibility.</p>
            <p>The majority of our pieces are produced in Addis Ababa, Ethiopia in a family-run workshop that we have slowly built over the years. </p><p>Every garment is made to order to avoid excess stock, and Fertuna has created her own algorithms to create designs virtually and crowdsource and produce only what’s needed. Many of the artisans at Mon Armoire are family members who have spent decades perfecting their crafts in leather, jewelry, ceramics, and more. </p><p>“When we design and create, it’s more than just a product,” she says. “It’s a whole story about who we are, and it’s very powerful.”
                - Vogue USA, 2021.</p>
                
        <p><strong>Founded Year:</strong>2014</p>
        <p><strong>Location:</strong>Addis Ababa, Ethiopia</p>
        <!-- Add more fields as needed -->
    </div>
    <!-- Add additional content or sections here -->
    
</body>
</html>
